.App {
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: 100px 1fr;
  height: 1vh;
}

.header {
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.navigation {
  width: fit-content;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.navigationTab {
  color: gray;
}

.content {
  grid-area: content;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  padding-left: 20px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
